CityShobTaskListClient/Connected Services/TaskUpdatedServiceReference/Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="UserTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsCompleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTask" nillable="true" type="tns:UserTask" />
  <xs:complexType name="ModifyTaskError">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Exception" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModifyTaskError" nillable="true" type="tns:ModifyTaskError" />
  <xs:complexType name="ArrayOfUserTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTask" nillable="true" type="tns:UserTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTask" nillable="true" type="tns:ArrayOfUserTask" />
</xs:schema>