CityShobTaskListClient/Connected Services/TaskUpdatedServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ModifyTaskService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IModifyTaskService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:AnonymousResponses>
            </wsam:AnonymousResponses>
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ITaskUpdatedService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:AnonymousResponses>
            </wsam:AnonymousResponses>
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IModifyTaskService_AddTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTask" />
  </wsdl:message>
  <wsdl:message name="IModifyTaskService_AddTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IModifyTaskService_AddTask_ModifyTaskErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Common" name="detail" element="q1:ModifyTaskError" />
  </wsdl:message>
  <wsdl:message name="IModifyTaskService_UpdateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTask" />
  </wsdl:message>
  <wsdl:message name="IModifyTaskService_UpdateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IModifyTaskService_UpdateTask_ModifyTaskErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Common" name="detail" element="q2:ModifyTaskError" />
  </wsdl:message>
  <wsdl:message name="IModifyTaskService_DeleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="IModifyTaskService_DeleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IModifyTaskService_DeleteTask_ModifyTaskErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Common" name="detail" element="q3:ModifyTaskError" />
  </wsdl:message>
  <wsdl:message name="IModifyTaskService_GetAllTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasks" />
  </wsdl:message>
  <wsdl:message name="IModifyTaskService_GetAllTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IModifyTaskService_GetAllTasks_ModifyTaskErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Common" name="detail" element="q4:ModifyTaskError" />
  </wsdl:message>
  <wsdl:message name="ITaskUpdatedService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ITaskUpdatedService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskUpdatedService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="ITaskUpdatedService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskUpdatedService_OnTaskAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTaskAdded" />
  </wsdl:message>
  <wsdl:message name="ITaskUpdatedService_OnTaskUpdated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTaskUpdated" />
  </wsdl:message>
  <wsdl:message name="ITaskUpdatedService_OnTaskDeleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTaskDeleted" />
  </wsdl:message>
  <wsdl:portType name="IModifyTaskService">
    <wsdl:operation name="AddTask">
      <wsdl:input wsam:Action="http://tempuri.org/IModifyTaskService/AddTask" message="tns:IModifyTaskService_AddTask_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IModifyTaskService/AddTaskResponse" message="tns:IModifyTaskService_AddTask_OutputMessage" />
      <wsdl:fault wsam:Action="http://tempuri.org/IModifyTaskService/AddTaskModifyTaskErrorFault" name="ModifyTaskErrorFault" message="tns:IModifyTaskService_AddTask_ModifyTaskErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <wsdl:input wsam:Action="http://tempuri.org/IModifyTaskService/UpdateTask" message="tns:IModifyTaskService_UpdateTask_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IModifyTaskService/UpdateTaskResponse" message="tns:IModifyTaskService_UpdateTask_OutputMessage" />
      <wsdl:fault wsam:Action="http://tempuri.org/IModifyTaskService/UpdateTaskModifyTaskErrorFault" name="ModifyTaskErrorFault" message="tns:IModifyTaskService_UpdateTask_ModifyTaskErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input wsam:Action="http://tempuri.org/IModifyTaskService/DeleteTask" message="tns:IModifyTaskService_DeleteTask_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IModifyTaskService/DeleteTaskResponse" message="tns:IModifyTaskService_DeleteTask_OutputMessage" />
      <wsdl:fault wsam:Action="http://tempuri.org/IModifyTaskService/DeleteTaskModifyTaskErrorFault" name="ModifyTaskErrorFault" message="tns:IModifyTaskService_DeleteTask_ModifyTaskErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <wsdl:input wsam:Action="http://tempuri.org/IModifyTaskService/GetAllTasks" message="tns:IModifyTaskService_GetAllTasks_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IModifyTaskService/GetAllTasksResponse" message="tns:IModifyTaskService_GetAllTasks_OutputMessage" />
      <wsdl:fault wsam:Action="http://tempuri.org/IModifyTaskService/GetAllTasksModifyTaskErrorFault" name="ModifyTaskErrorFault" message="tns:IModifyTaskService_GetAllTasks_ModifyTaskErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITaskUpdatedService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsam:Action="http://tempuri.org/ITaskUpdatedService/Subscribe" message="tns:ITaskUpdatedService_Subscribe_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ITaskUpdatedService/SubscribeResponse" message="tns:ITaskUpdatedService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsam:Action="http://tempuri.org/ITaskUpdatedService/Unsubscribe" message="tns:ITaskUpdatedService_Unsubscribe_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ITaskUpdatedService/UnsubscribeResponse" message="tns:ITaskUpdatedService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnTaskAdded">
      <wsdl:output wsam:Action="http://tempuri.org/ITaskUpdatedService/OnTaskAdded" message="tns:ITaskUpdatedService_OnTaskAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnTaskUpdated">
      <wsdl:output wsam:Action="http://tempuri.org/ITaskUpdatedService/OnTaskUpdated" message="tns:ITaskUpdatedService_OnTaskUpdated_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnTaskDeleted">
      <wsdl:output wsam:Action="http://tempuri.org/ITaskUpdatedService/OnTaskDeleted" message="tns:ITaskUpdatedService_OnTaskDeleted_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IModifyTaskService" type="tns:IModifyTaskService">
    <wsp:PolicyReference URI="#NetTcpBinding_IModifyTaskService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddTask">
      <soap12:operation soapAction="http://tempuri.org/IModifyTaskService/AddTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ModifyTaskErrorFault">
        <soap12:fault use="literal" name="ModifyTaskErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <soap12:operation soapAction="http://tempuri.org/IModifyTaskService/UpdateTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ModifyTaskErrorFault">
        <soap12:fault use="literal" name="ModifyTaskErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap12:operation soapAction="http://tempuri.org/IModifyTaskService/DeleteTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ModifyTaskErrorFault">
        <soap12:fault use="literal" name="ModifyTaskErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <soap12:operation soapAction="http://tempuri.org/IModifyTaskService/GetAllTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ModifyTaskErrorFault">
        <soap12:fault use="literal" name="ModifyTaskErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ITaskUpdatedService" type="tns:ITaskUpdatedService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITaskUpdatedService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/ITaskUpdatedService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/ITaskUpdatedService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTaskAdded">
      <soap12:operation soapAction="http://tempuri.org/ITaskUpdatedService/OnTaskAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTaskUpdated">
      <soap12:operation soapAction="http://tempuri.org/ITaskUpdatedService/OnTaskUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTaskDeleted">
      <soap12:operation soapAction="http://tempuri.org/ITaskUpdatedService/OnTaskDeleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModifyTaskService">
    <wsdl:port name="NetTcpBinding_IModifyTaskService" binding="tns:NetTcpBinding_IModifyTaskService">
      <soap12:address location="net.tcp://localhost:8080/ModifyTaskService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/ModifyTaskService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="TaskUpdatedService">
    <wsdl:port name="NetTcpBinding_ITaskUpdatedService" binding="tns:NetTcpBinding_ITaskUpdatedService">
      <soap12:address location="net.tcp://localhost:8080/TaskUpdatedService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/TaskUpdatedService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>